@import '~@fluentui/react/dist/sass/References.scss';

.accountDashboardCustomerPoc {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.modalPopupHeader{
  background: #EFF2F7;
  padding: 10px 20px 10px 20px;

  .modalPopupTitle{
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    color: #343A40;
  }
}

.csName{
  display: flex;
  align-items: center;
  gap: 10px;
}
.csTableImage{
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.iconStyle{
  font-size: 16px;
  color: #74788D;
  cursor: pointer;
}

.modalContent{
  padding: 20px;
  float: left;
  width: 100%;

  .ms-Stack > :not(:first-child) {
    margin-top: 13px;
  }
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.Checkbox{
  border-right: 0;
}
