@import "~@fluentui/react/dist/sass/References.scss";

.engagementDashboardDescription {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.descriptionImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.dropdownWidth{
  width: 210px;
}
.descriptionHeight{
  max-height: 330px;
  overflow: scroll;
}


.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.list {
  padding: 2px 10px 2px 10px;
  border-left: 2px solid #74788d;
  border-radius: 2px;
  background: #eff2f7;
  color: #343a40;
  width: 100%;
  line-height: 25px;
  font-weight: 600;
  font-size: 13px;
  float: left;
}

@media only screen and (max-width: 479px) {
  .list {
    width: 100%;
  }
}
