@import '~@fluentui/react/dist/sass/References.scss';

.statusCircleYellow{
  font-size: 10px;
  color: #F1B44C;
}
.statusCircleRed{
  font-size: 10px;
  color: #F46A6A;
}
.statusCircleGreen{
  font-size: 10px;
  color: #34C38F;
}